body{
    margin: 0;
    background-color: rgb(138, 223, 251);
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.main_container{
    background-color: white;
    width: 50vw;
    min-width: 400px;
    max-width: 100vw;
    min-height: 100vh;


}

header{
    display: grid;
    grid-template-rows: auto auto;
    justify-content: space-around;
    padding-top: 5vh;
    max-width: 100vw;
}

h1{
    margin: 0;
    grid-column: 1 / 4;
    text-align: center;
    font-size: 3rem;
}

#date{
    font-size: xx-large;
}

button{
    font-size: xx-large;
    height: fit-content;
    margin: auto;
    border-radius: 10px;
    border-color: rgb(10, 134, 176);
    border-style:solid;
}

button:hover{
    background-color: gray;
}

.info_container{
    padding: 5%;
    font-size: large;
}

.time_temp_pair{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p{
    padding: 3%;
    margin: 0;
}

@media only screen and (max-width: 400px) {
    .main_container{
        width: 100vw;
        min-width: 0;
    }
}